<!DOCTYPE html>
<html>
  <head>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="../js/p5.js"></script>
    <script src="../js/p5.dom.js"></script>
    <script src="../js/tone.js"></script>
    <script src="../js/mixer.js"></script>
    <script src="../js/tinycolor.js"></script>
    <script src="../js/mathutils.js"></script>
    <script src="../js/audioprocessor.js"></script>
    
    <script src="../js/vowelworm.js"></script>
    <script src="../js/vowelworm.game.js"></script>
    <script src="../js/master_main.js"></script>
    <script src="../js/webrtc_master.js"></script>
  </head>

  <body>
    <p id="masterId"></p>
    <p>Mute?: <input id="mute" type="checkbox"></p>
    <div id="sketch"></div>
    <br />
  </body>
</html>