<!DOCTYPE html>
<html>
  <head>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="../js/dependencies/p5.js"></script>
    <script src="../js/dependencies/p5.dom.js"></script>
    <script src="../js/dependencies/tone.js"></script>
    <script src="../js/master/mixer.js"></script>
    <script src="../js/dependencies/tinycolor.js"></script>
    <script src="../js/dependencies/mathutils.js"></script>
    <script src="../js/dependencies/audioprocessor.js"></script>
    
    <script src="../js/dependencies/vowelworm.js"></script>
    <script src="../js/dependencies/vowelworm.game.js"></script>
    <script src="../js/master/master_main.js"></script>
    <script src="../js/master/webrtc_master.js"></script>
  </head>

  <body>
    <p id="masterId"></p>
    <p>Mute?: <input id="mute" type="checkbox"></p>
    <button id="record">Record</button>
    <div id="sketch"></div>
    <br />
  </body>
</html>